body, html {
     margin: 0;
     padding: 0;
     height: 100%;
     font-family: 'Barlow', sans-serif;
     background: #f6f5f7;
     display: flex;
     justify-content: center;
     align-items: center;
}
 .login-container {
     background: #fff;
     border-radius: 10px;
    /*box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    */
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     display: flex;
     width: 55vw;
     height: 70vh;
}
 .login-section {
     flex: 1;
     display: flex;
     flex-direction: column;
     justify-content: center;
    /* Ensures vertical centering */
     align-items: center;
    /* Ensures horizontal centering */
     text-align: center;
}
 .login-section.right {
     background: linear-gradient(to right, #0052D4, #65C7F7);
     color: white;
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
}
 h2 {
     font-size: 7vh;
     font-weight: bold;
     margin: 0;
    /* Remove bottom margin */
}
.question h1 {
  font-weight: normal;
  font-size: 4vh;
  margin-top: 3vh;
}
.login-section input {
  border-radius: 10px;
  background: #eee;
  font-size: 3.5vh;
  border: none;
  padding: 1.5vh 3vh;
 /* Adjust padding to your liking */
  margin-bottom: -10vh;
  text-align: center;
 /* Adjust margin to your liking */
  width: calc(100% - 20vw);
 /* Adjust width calculation if needed */
 box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}



.button2 {
  margin-left: 1vw;
  margin-right: 1vw;
  
  margin-top: 7vh;
  width: 15vw;
  height: 9vh;
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 3.5vh;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #272727;;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #272727;;
}

.button2:hover:before {
  top: -35%;
  background-color: #272727;;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #272727;;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
